{% extends "/layouts/main.html" %}

{% block content %}
    <form method="GET">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="bitte eintragen" />

        <label for="age">Alter:</label>
        <input type="text" name="age" id="age" value="{% if age!=None %}{{age}}{% endif %}" /> 
        <br />

        <input type="submit" value="Formular abschicken" />
    </form>
    {% if ((name!= None) and (age!= None)) %}
        <p>
            Dein Name ist also {{name}} und du bist {{age}} Jahre alt.
        </p>
    {% endif %}
{% endblock %}